<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Quora Posts</h1>
        <a href="http://localhost:8080"><button class="delete-link" >Home</button></a>
    </header>
    <main>
        <% for (let post of posts) { %>
            <div class="post">
                <h3 class="user">@<%= post.username %></h3>
                <p class="timestamp">Posted on <span id="currentDate"></span></p>
                <h4 class="content"><%= post.content %></h4>
                <div class="post-actions">
                    <a class="detail-link" href="http://localhost:8080/posts/<%= post.id %>">See in Detail</a>
                    <a class="edit-link" href="http://localhost:8080/posts/<%= post.id %>/edit">Edit Post</a>
                    <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                    <button class="delete-link" href="http://localhost:8080/posts/<%= post.id %>/delete">Delete Post</button>
                    </form>
                    
                </div>
            </div>
        <% } %>
        <div class="new-post-link">
            <a href="http://localhost:8080/posts/new">Create New Post</a>
        </div>
    </main>
    <script>
        const date = new Date();
        document.getElementById('currentDate').textContent = date.toLocaleString();
    </script>
</body>
</html>
